html{
	height: 100%;
	width: 100%;
	background-color: white;
}

body{
	background-color: white;
}

header{
	border: 1px solid black;
	margin: 1%, 1%;
    border-radius: 10px;
}

footer{
    position: fixed;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background-color: #3F0202;
    text-align: center;
    height: 50px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
}

p{
	margin-top: 25px;
	text-align: center;
	font-family: Georgia;
}

form{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

span{
	display: none;
}

input{
	border-radius: 10px;
	height: 20px;
	text-align: center;
	margin-top: 5px;
	font-family: tahoma;
}

textarea{
	margin-top: 5px;
	border-radius: 5px;
	width: 500px;
	height: 250px;
	resize: none;
}

fieldset{
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 425px;
}

a{
	z-index: 999;
}

#mobileLinks{
	display: none;
}

#navbox{
	display: none;
}

.topnav{
	background-color: #3F0202;
	height: 80px;
    border-radius: 10px;
}

.topnav a{
	float: left;
	top-margin: 10px;
	color: white;
	padding: 23px 16px;
	text-decoration: none;
	font-size: 30px;
	font-family: Tahoma;
}

.topnav a:hover{
	background-color: #ddd;
	color: black;
	height: 34px;
	border-radius: 10px;
}

.topnav a.active{
	background-color: red;
	color: white;
}

.gegevens{
	width: 200px;
	height: 100px;
	float: right;
	padding-right: 1%;
	position: relative;
	bottom: 10px;
	color: white;
	text-align: center;
	font-size: 15px;
	font-family: Tahoma;
}

.logoding{
	position: relative;
	width: 125px;
	height: 125px;
	background-color: #3F0202;
	margin: auto auto;
	margin-top: 25px;
	border-radius: 0 30% 0 30%;
	border: 1px solid black;
	margin-bottom: 10px;
}

#logo{
	position: relative;
	margin: auto;
	top: 12px;
	left: 12px;
	width: 100px;
	height: 100px;
	animation: spin 2s infinite;
  	-webkit-animation: spin 2s 1;
  	border-radius: 50%;
  	border: 1px solid black;
}

@-webkit-keyframes spin{
to{
    transform: rotate(360deg);
	}
}


/*

@-webkit-keyframes hamBurger{
to{
	transform: ;
}
}

*/

.links{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	margin: auto auto;
}

#linkedin{
	border-radius: 50%;
	width: 46px;
	height: 46px;
	border: 1px solid black;
	margin-top: 1px;
}

#filler{
	position: fixed;
	width: 100%;
	height: 5px;
	bottom: 0;
	z-index: 999;
	background-color: white;
}

#clicker{
	text-align: center;
}

.content{
	font-size: 20px;
}

#containernotneed{
	margin-top: 5%;
	width: 100%;
	height: 100%;
	display: inline-block;
}

#interesse{
	float: left;
	width: 450px;
	word-wrap: break-word;
	margin-left: 25px;
	z-index: ;
}

#vaardigheden{
	margin: -40px auto;
	width: 450px;
}

#faq{
	float: right;
	width: 450px;
	display: inline-block;
	margin-right: 25px;
}

#informatieimage, #faqimage, #vaardighedenimage{
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	z-index: -1;
}

.informatietext{
	font-size: 16px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

.titelinfo{
	font-family: tahoma;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	z-index: -1;
	width: 300px;
}

#faqdown{
	display: none;
}

#formimg{
	width: 50px;
	height: 50px
	left: 50%;
  	margin-left: 49%;
}

#containercontact{
	margin-top: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
}

#mobtitle{
	display: none;
}

#checkboxnb{
	width: 30px;
	height: 10px;
}

@media screen and (max-width: 1300px) {
	#containercontact{
	width: 100%;
	height: 20px;
	margin-top: -10px;
	}

	#interesse{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	float: none;
	}

	#vaardigheden{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	float: none;
	}

	#faq{
		display: none;
	}

	#faqdown{
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		float: none;
	}

	#interesse, #vaardigheden, #fawq{
		bottom-margin: 100px;
	}
}

@media only screen and (max-width: 800px) {
  	.content {
    font-size: 12px;
	}

	.topnav{
		display: block;
		margin-top: 0;
		height: 50px;
		z-index: 999;
	}

		.topnav a{
		display: none;
	}

	span{
		padding-top: 2px;
		display: block;
		margin-top: 10px;
		margin-left: 10px;
		height: 5px;
		width: 50px;
		background-color: white;
		border-radius: 32px;
		z-index: 1;
		position: relative;
	}

	#navbox{
		display: block;
		z-index: 2;
		position: absolute;
		display: hidden;
		height: 50px;
		-webkit-touch-callout: none;
		-webkit-user-sellect: none;
		user-select: none;
		opacity: 0;
		width: 50px;
		margin-left: 10px;
		margin-top: 0px;
	}

	header{
		background-color: #3F0202;
		z-index: 999;
	}

	#mobileLinks{
		display: block;
		background-color: #3F0202;
		height: 0px;
		width: 30%;
		margin-left: -1px;
		border-radius: 0px 0px 10px 10px;
		font-size: 20px;
		transition: all .3s ease;
		border: none;
		border: 1px solid;
		max-width: 150px;
		position: absolute;
	}

	#mobileLinks a{
		font-size: 20px;
		color: white;
	}

	.topnav a{
	height: 25px;
	width: 90px;
	margin-top: 13px;
	color: white;
	padding: 5px 5px;
	text-decoration: none;
	font-size: 30px;
	font-family: Tahoma;
	margin-left: 1px
  	}
	
	.topnav a:hover{
	background-color: #ddd;
	color: black;
	height: 25px;
	width: 135%;
	}

  .gegevens{
  	font-size: 12px;
  	color: white;
  	z-index: 999;
  	margin-top: -8px;
  	margin-right: 0px;
  	width: 120px;
  	height: 60px;
	}
	
	#logo{
		position: absolute;
		width: 80%;
		height: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#mobnavfiller{
		position: absolute;
		height: 2px;
		width: 100px;
		background-color: #3F0202;
		border-radius: 0%;
		z-index: 999;
	}

	#mobnavfiller2{
		position: absolute;
		height: 9px;
		width: 200px;
		background-color: #3F0202;
		margin-left: 10px;
		z-index: 999;
	}

	#containerkeepleft{
		width: 50px;
		height: 160px;
	}

	#containerinfo{
	width: 100%;
	height: 20px;
	}

	#interesse{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 100%;
	float: none;
	z-index: -1;
	}

	#vaardigheden{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 100%;
	float: none;
	}

	#faq{
		display: none;
	}

	#faqdown{
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		float: none;
	}

	input{
	border-radius: 10px;
	height: 20px;
	text-align: center;
	margin-top: 5px;
	font-family: tahoma;
	width: 25%;
	min-width: 100px;
	}

	textarea{
		margin-top: 5px;
		border-radius: 5px;
		width: 75%;
		height: 200px;
	}

	fieldset{
		border-radius: 25px;
		margin-left: auto;
		margin-right: auto;
		width: 75%;
		height: 400px;
		margin-top: 25px;
		margin-bottom: 60px;
	}

	#contactinformatie{
		font-size: 14px;
		margin-top: 25px;
	}

	#formimg{
		display: none;
	}

	#containernotneed{
    	position: absolute;
		margin-top: 10%;
		width: 350px;
		height: 95%;
		display: block;
   		left: 50%;
    	margin-left: -175px;
    	z-index: -1;

		/*width: 80%;
		height: 80%;
		display: block;
		*/
	}

	.informatietext{
		font-size: 12px;
		width: 325px;
	}

	#mobtitle{
		display: block;
		float: right;
		margin-left: 70px;
		margin-top: 10px;
		/*padding-right: 1%;*/
		position: absolute;
		color: white;
		text-align: center;
		font-size: 15px;
		font-family: Tahoma;
		/*display: inline-block;
		margin-left: 50%;*/
	}

	.contacttext{
		font-size: 14px;
	}
}

@media screen and (orientation: landscape) {
	.content{
		padding-bottom: 75px;
	}
}